#############################################################################
#                                EditorConfig                               #
# Source: https://editorconfig.org/                                         #
# Plugins: https://editorconfig.org/#download                               #
# Repository: https://github.com/editorconfig/                              #
#############################################################################

# EditorConfig File
root = true

# Unix-Style newlines with a newline ending every file
[*]
end_of_file = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
