body {
    background-color: #eee;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.navbar {
    margin: 60px;
}

hr {
    border-color: #f1f1f1;
}

.navbar-menu {
    background-color: #3f3f3f;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

input {
    display: inline-block;
    width: 100px;
    padding: 4px;
    margin: 3px;
}

.logo {
    height: 26px;
    width: 26px;
    background-size: contain;
    margin: 8px;
    float: left;
}

.navbar-items {
    float: right;
    padding: 10px;
    color: #808080;
}

.navbar-item {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.navbar-items a:hover {
    color: #2F90C2;
}

.shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}

.boxed {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 72%;
    float: left;
    margin-right: 15px;
    margin-bottom: 25px;
}

.profile-top {
    background-color: #fff;
}

.right-menu {
    width: 22%;
    float: left;
}

.profile-picture img {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}

.profile-picture,
.profile-info {
    display: inline-block;
}

.profile-info {
    vertical-align: top;
    margin-left: 20px;
}

.education-list {
    list-style: none;
    padding: 0;
}

.profile-info h2 {
    margin: 0px;
    margin-top: 25px;
}

.education-list li {
    font-size: 13px;
}

.gray-font {
    font-size: 10px;
    color: #808080;
    margin-right: 15px;
}

.profile-top-ad h2,
h6 {
    margin: 0;
}

.profile-top-ad h4 {
    font-weight: 500;
}

.profile-top-ad,
.blog-experience {
    padding: 30px;
}

#ad-button {
    background-color: #FFD800;
    border: 1px solid #DCBC0B;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 322px;
    padding-right: 322px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

#ad-button:hover {
    background-color: #fce66d;
}

.blog-container {
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}

.right-menu {
    background-color: #fff;
    padding: 15px;
}

.profile-picture,
.random-user-summary {
    display: inline-block;
}

.random-user-summary h4 {
    margin-bottom: 0;
}

.random-user-summary h5 {
    margin: 0;
}

.random-user-summary {
    margin-left: 5px;
    vertical-align: top;
}

.random-user .profile-picture img {
    width: 50px;
}

.random-user-summary a {
    text-decoration: none;
    color: #46a7d8;
}

#profile-top-size {
    height: 205px;
}

#personalWebSite {
    text-decoration: none;
    color: black;
}

#personalWebSite:hover {
    color:rgb(0, 4, 255);
}

#experienceLogo {
    float: right;
    vertical-align: top;
    width: 100px;
}

.exampleSearch {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ECECEC;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
    width: 270px;
}

.exampleSearch a {
    text-decoration: none;
}

#firstNameInput {
    width: 117px;
}

#lastNameInput {
    width: 117px;
}

.footer {
    position: fixed;
    width: 1250px;
    height: 40px;
    background-color: #3f3f3f;
    color: white;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#educationContainer {
    margin-bottom: 30px;
}

.random-user-name:hover {
    color: #77c9f0;
}